// Body resets
//
// Update the foundational and global aspects of the page.

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  text-size-adjust: 100%;
}

main,
article,
section {
  display: block;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  border-radius: 5px;
  display: block;
  height: auto; // prevent max-width from squishing images with defined height
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  border: 1px solid $border-color;
  border-collapse: collapse;
  font-size: 85%;
  margin-bottom: 1rem;
  width: 100%;
}

td,
th {
  border: 1px solid $border-color;
  padding: 0.25rem 0.5rem;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $gray-1;
}

button,
input[type='text'],
input[type='email'],
input[type='search'],
input[type='submit'] {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $padding-v $padding-h;
}

button,
input[type='submit'] {
  background: transparent;
  border-color: $border-color;
  color: $link-color;
  cursor: pointer;
  transition:
    color 0.6s ease-in-out,
    border-color 0.6s ease-in-out,
    background 0.6s ease-in-out;

  &:hover {
    background: $link-color;
    border-color: $link-color;
    box-shadow: $default-box-shadow;
    color: #fff;
  }
}

.newsletter-container {
  margin:2rem auto;
  border:none;
  padding:0px;
  text-align:center;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}
.newsletter-container * {
  align-self: center;
  padding: 0;
}
.newsletter-form {
  margin:0.5rem 0 0rem 0;
  border:none;padding:0px;
  text-align:center;
}
.newsletter-title {
  font-size: 1.5em !important;
  margin: 0;
  color: rgba(255, 255, 255, 0.75) !important;
  text-transform: uppercase;
  text-align: center;
}
.newsletter-text {
  font-weight: none;
  color: #ddd;
  text-align: right;
  font-size: 0.8rem !important;
}

.newsletter-email, .newsletter-submit {
  display: inline-block;
  border-radius: 4px;
  padding: 0;
  align-self: center;
}

.newsletter-submit {
  font-size: .6em;
  border: none !important;
  color: rgba(255, 255, 255, 0.75) !important;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px !important;
  outline: none;
  padding: 0 0 0 1rem !important
}

.newsletter-submit:hover {
  background-color: transparent !important;
}

.newsletter-submit:focus, .newsletter-email:focus {
  outline: none !important;
}

.newsletter-email {
  width:170px;
  height: 30px;
  outline: none;
  border-radius: 4px !important;
}

@media screen and (min-width: 400px) {
  .newsletter-title {
      font-size: 2.5em;
  }
  .newsletter-text {
      font-size: 1.5em;
  }
  .newsletter-submit {
      font-size: .7em;
  }
}

.footer-text {
  text-align: center;
  margin: 0 0 1rem 0;
}

#social-share-section {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.42857143;
  // font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px;
}

.sr-only {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.42857143;
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  box-sizing: border-box;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
}

.social-share-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: auto 5px 0 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  // border: 1px solid transparent;
  border-radius: 25px;
}

.btn-social-icon>:first-child {
  border: none;
  text-align: center;
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

.twitter-share {
  color: #fff;
  background-color: #55acee;
  border-color: rgba(0,0,0,0.2);
}

.facebook-share {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.linkedin-share {
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0,0,0,0.2);
}

.fa-custom-twtr:before {
  content: "\f099";
}

.fa-custom-lnkdn:before {
  content: "\f0e1";
}

.fa-custom-fbk:before {
  content: "\f09a";
}