<div class="newsletter-container">
    <h4 class="newsletter-title">Subscribe</h4>
    <form class="newsletter-form"
        action="https://feedburner.google.com/fb/a/mailverify"
        method="post" target="popupwindow"
        onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=Chemicbook', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p>Get new posts directly to your inbox</p>
        <input type="hidden" value="Chemicbook" name="uri"/>
        <input type="hidden" name="loc" value="en_US"/>
        <input class="newsletter-email" type="text" name="email" placeholder="name@example.com"/>
        <input class="newsletter-submit" type="submit" value="Subscribe" />
    </form>
</div>
<p class="footer-text">
    Manish Sihag  •  chemicbook.com
</p>
