<p style="text-align: right; margin: 1.1rem;">
    Manish Sihag  •  mnis.github.io
</p>

<!-- <div style="text-align: center;">Reach out to me on</div>
<div style="text-align: center">
    <a href="https://www.linkedin.com/in/manish-sihag/" style="color: inherit" title="Linkedin" aria-label="Linkedin">
        <span class="fa fa-linkedin-square"></span>
    </a>&nbsp;&nbsp;
    <a href="https://www.github.com/mnis/" style="color: inherit" title="Github" aria-label="Github">
        <span class="fa fa-github"></span>
    </a>&nbsp;&nbsp;
    <a href="https://www.instagram.com/mni.z/" style="color: inherit" title="Instagram" aria-label="Instagram">
        <span class="fa fa-instagram"></span>
    </a>&nbsp;&nbsp;
    <a href="mailto:sihagmanish36@gmail.com" style="color: inherit" title="Email" aria-label="Email">
        <span class="fa fa-envelope"></span>
    </a>&nbsp;&nbsp;
    <a href="https://stackoverflow.com/users/9865225/mnis/" style="color: inherit" title="Stackoverflow"
        aria-label="Stackoverflow">
        <span class="fa fa-stack-overflow"></span>
    </a>
</div> -->