<!-- Optional additional links to insert for icons links -->
<a href="https://www.linkedin.com/in/manish-sihag/"
    style="color: inherit" title="Linkedin" aria-label="Linkedin">
    <span class="fa fa-linkedin-square"></span>
</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://www.github.com/mnis/"
    style="color: inherit" title="Github" aria-label="Github">
    <span class="fa fa-github"></span>
</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="mailto:sihagmanish36@gmail.com"
    style="color: inherit" title="Email" aria-label="Email">
    <span class="fa fa-envelope"></span>
</a>&nbsp;&nbsp;&nbsp;&nbsp;