<section class="related">
    <h2>Related Projects</h2>
    <ul class="posts-list">
        <!-- {% for project in site.projects limit:3 %}
        <li>
            <h3>
                <a href="{{ project.url }}">
                    {{ project.title }}
                    <small>{{ project.date | date_to_string }}</small>
                </a>
            </h3>
        </li>
        {% endfor %} -->
        {% for post in include.post.related_projects limit:3 %}
        <li>
          <h4>
            <a href="{{ include.post.related_projects_url[forloop.index0] }}">
              {{ post }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h4>
        </li>
      {% endfor %}
    </ul>
</section>