<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">
	If you think this post helped you learn something new today, please consider subscribing to this blog. Don't forget to share it with your colleagues and friends if you think it might help them too. And, if you have any questions, suggestions, and/or criticisms, please feel free to reach out to me on any of the social media platforms mentioned in this blog. Until next time. Stay safe.<br><br>

  <span class="btn-social-icon">Share it on </span>

  {% if site.share-links-active.twitter %}
  <!--- Share on Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
      class="social-share-btn btn-social-icon twitter-share" title="Share on Twitter" target="_blank">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
      <span class="sr-only">Twitter</span>
    </a>
  {% endif %}

  {% if site.share-links-active.facebook %}
  <!--- Share on Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}"
      class="social-share-btn btn-social-icon facebook-share" title="Share on Facebook" target="_blank">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
      <span class="sr-only">Facebook</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
  <!--- Share on LinkedIn -->
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
      class="social-share-btn btn-social-icon linkedin-share" title="Share on LinkedIn" target="_blank">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

</section>

{% endif %}
