---
layout: default
---
<head>
  <script data-ad-client="ca-pub-4527882324824627" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<header>
  <h2 class="post-title">{{ page.title }}</h2>
</header>
<div class="content">
  {% include post-meta.html post=page %}
  {% include post-tags.html post=page %}
  <br/>

  <div class="post-body">
    {% if page.image and page.show_main_img_in_blog != false%}
      <figure style="margin: auto 0 1rem 0;">
        <img style="margin-bottom: 0.2rem;" width=100% src={{page.image}} />
        {% if page.image_caption %}
          <figcaption style="font-size: 0.55rem; text-align: center;">Image Source: {{page.image_caption}}</figcaption>
        {% endif %}
      </figure>
    {% endif %}
    {{ content }}
  </div>
  {% if page.social-share %}
    {% include social-share.html %}
  {% endif %}
  <!-- {% assign author = site.authors[page.author] %}
  {% include  author.html %} -->
  {% include related_posts.html %}
  {% include comments.html %}
</div>
