---
layout: default
---
<head>
  <script data-ad-client="ca-pub-4527882324824627" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<header>
  <h2 class="post-title">{{ page.title }}</h2>
</header>
<div class="content">
  {% include post-meta.html post=page %}
  {% include post-tags.html post=page %}
  <br/>

  <div class="post-body" style="text-align: justify;">
    {% if page.image and page.show_main_img_in_blog != false%}
      <img width=100% src={{page.image}} />
    {% endif %}
    {{ content }}
  </div>

  {% include comments.html %}
  {% include related_posts.html %}
</div>
